.image-animation {
    animation-name: slide-up;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slide-up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}